:host {
    width: 100%;
    height: 100%;
    display: block;
    .word {
        position: absolute;
        margin: 50px;
        font-size: 2rem;
        text-shadow: 0px 0px 4px black;
        pointer-events: none;
        &.pos-0 {
            left: 0;
            top: 0;
        }
        &.pos-1 {
            right: 0;
            top: 0;
        }
        &.pos-2 {
            left: 0;
            bottom: 0;
        }
        &.pos-3 {
            right: 0;
            bottom: 0;
        }
    }
    .field {
        height: 100%;
        width: 100%;
    }
}
