<div
    *ngFor="let item of listWord$ | async; let i = index"
    class="word"
    [style.left.px]="item.x"
    [style.top.px]="item.y">
    {{ item.word }}
</div>
<div class="field" #field>
    <app-drag-figure
        [dragBoundary]="field"
        [type]="item.type"
        [initX]="item.x"
        [initY]="item.y"
        [dragLockAxis]="item.axis"
        *ngFor="let item of listFigure$ | async"></app-drag-figure>
</div>

<app-detector-input [expectedWord]="EXPECTED_WORD" (success)="success()"></app-detector-input>
