<div class="field">
    <div class="content" *ngIf="!(isComplete$ | async)" [@emersion]>
        <div class="leaf" *ngFor="let item of list$ | async; let i = index" (click)="click(i)">
            <app-trifoliate-cube [leafCounter]="item.value"></app-trifoliate-cube>
        </div>
    </div>

    <div class="complete" *ngIf="isComplete$ | async" [@emersion]>Success</div>
</div>
