:host {
    .field {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        .content {
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-content: center;
            flex-wrap: wrap;
            .leaf {
                margin: 15px;
            }
        }

        .complete {
            box-shadow: inset 0 0 2px 1px #0000008a;
            padding: 0 20px;
            background: #e1e1e157;
            font-size: 30px;
            color: #4f4f4fa6;
            user-select: none;
            width: max-content;
        }
    }
}
