:host {
    position: absolute;
    width: 100%;
    height: 100%;
    .field {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .container {
            width: 500px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .complete {
                box-shadow: 0 0 3px 1px #7d7d7d;
                padding: 0 20px;
                background: #e1e1e157;
                font-size: 30px;
                color: #4f4f4fa6;
                user-select: none;
                width: max-content;
            }
        }
    }

    .arrrow-area {
        display: flex;
        align-items: center;
        &.reverse {
            transform: rotate(180deg);
        }

        .arrow-container {
            position: absolute;
            animation: slide 4s linear infinite;
            &.s-2 {
                animation-delay: 1s;
            }
            &.s-3 {
                animation-delay: 2s;
            }
            &.s-4 {
                animation-delay: 3s;
            }
            .arrow {
                width: 50px;
                height: 50px;
                border: 8px solid;
                border-color: #12121280 transparent transparent #12121280;
                transform: rotate(-45deg);
            }
        }
    }
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    20% {
        opacity: 1;
        transform: translateX(70px);
    }
    80% {
        opacity: 1;
        transform: translateX(40px);
    }
    100% {
        opacity: 0;
        transform: translateX(10px);
    }
}
