<div class="field">
    <ng-container *ngTemplateOutlet="arrow; context: { $implicit: 'reverse' }"></ng-container>
    <div class="container">
        <div class="complete" *ngIf="isComplete$ | async" [@emersion]>Success</div>
    </div>
    <ng-container *ngTemplateOutlet="arrow; context: { $implicit: '' }"></ng-container>
</div>

<ng-template #arrow let-path>
    <div class="arrrow-area {{ path }}">
        <div class="arrow-container s-1">
            <div class="arrow"></div>
        </div>
        <div class="arrow-container s-2">
            <div class="arrow"></div>
        </div>
        <div class="arrow-container s-3">
            <div class="arrow"></div>
        </div>
        <div class="arrow-container s-4">
            <div class="arrow"></div>
        </div>
    </div>
</ng-template>
