:host {
    position: absolute;
    .bubble {
        cursor: pointer;
        width: 150px;
        position: relative;
        height: 150px;
        border-radius: 50%;
        display: flex;
        background: #ebebebdb;
        justify-content: center;
        align-items: center;
        box-shadow: 1px -2px 4px 2px #d1d1d1;
        transition: 0.2s;
        &:hover {
            box-shadow: 1px 1px 8px 7px #c7c7c7;
            background: #aaaaaaa3;
            .ordinal {
                color: #ffffff9e;
            }
        }
        .ordinal {
            position: relative;
            text-shadow: 1px 1px 4px #484848;
            font-size: 24px;
            font-family: revert;
            color: #626262b5;
            transition: 0.2s;
        }
    }
}
