<div class="scene">
    <div class="left" (click)="clickDirection.emit(CrossingDirection.LEFT)">
        <div class="list-persones">
            <ng-content select="left"></ng-content>
        </div>
    </div>

    <div class="river">
        <div
            class="boat"
            [@boat]="dirBoat"
            (@boat.done)="endPathBoat.emit()"
            (click)="clickDirection.emit(CrossingDirection.BOAT)">
            <div class="list-persones">
                <ng-content select="boat"></ng-content>
            </div>
        </div>
    </div>

    <div class="right" (click)="clickDirection.emit(CrossingDirection.RIGHT)">
        <div class="list-persones">
            <ng-content select="right"></ng-content>
        </div>
    </div>
</div>
