:host {
    position: relative;
    width: 100%;
    height: 100%;
    .scene {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        .left {
            width: 20%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            overflow: hidden;
            box-shadow: inset 2px 0px 6px 6px #76a900;
            background: url(/assets/images/crossing/earth.jpg);
            transition: 0.2s;
            cursor: pointer;
            .list-persones {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                height: 100%;
                overflow: auto;
                flex: 1;
            }
            &:hover {
                box-shadow: inset 2px 0px 6px 7px #00ff0096;
            }
        }
        .river {
            width: 60%;
            position: relative;
            .boat {
                width: 50%;
                height: 30%;
                background: #4d4d4d6e;
                position: absolute;
                background: #ffb16b8f linear-gradient(90deg, rgb(255 137 0 / 41%) 50%, rgb(255 179 0 / 64%) 50%) center
                    center / 2em;
                background: url(/assets/images/crossing/boat.png);
                background-repeat: no-repeat;
                background-size: 100% 100%;
                top: 50%;
                transform: translateY(-50%);
                .list-persones {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                }
            }
        }
        .right {
            width: 20%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            overflow: hidden;
            box-shadow: inset 2px 0px 6px 6px #76a900;
            background: url(/assets/images/crossing/earth.jpg);
            cursor: pointer;
            transition: 0.2s;
            .list-persones {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                height: 100%;
                overflow: auto;
                flex: 1;
            }
            &:hover {
                box-shadow: inset 2px 0px 6px 7px #00ff0096;
            }
        }
    }
}
