<div class="scene">
    @if (!end) {
        <div
            cdkDropList
            cdkDropListOrientation="horizontal"
            class="example-list"
            (cdkDropListDropped)="drop($event)"
            [@emersion]
            (@emersion.done)="$event.toState === 'void' && done.set(true)">
            @for (letter of shuffleWord; track letter) {
                <div class="example-box" cdkDrag>{{ letter | uppercase }}</div>
            }
        </div>
    }
    @if (end && done()) {
        <div class="completed" [@emersion]>Success</div>
    }
</div>
