:host {
    height: 100%;
}

.scene {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    .completed {
        box-shadow: 0 0 3px 1px #7d7d7d;
        padding: 0 20px;
        background: #e1e1e157;
        font-size: 30px;
        color: #4f4f4fa6;
        user-select: none;
        width: max-content;
    }
}

.example-list {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
}

.example-box {
    padding: 0;
    margin: 5px;
    border: solid 1px #d2d2d2;
    color: #656565;
    box-sizing: border-box;
    cursor: move;
    background: #e8aeff;
    font-size: 2em;
    width: 50px;
    border-radius: 5px;
    text-align: center;
    user-select: none;
    font-weight: 600;
    transition: background 0.2s;
    font-family: Courier, 'Courier New', monospace;
    &:hover {
        background: #d7d7d7;
    }
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
    background: #d7d7d7;
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
