:host {
    position: absolute;
    width: 100%;
    height: 100%;
    .field {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .complete {
        box-shadow: 0 0 3px 1px #7d7d7d;
        padding: 0 20px;
        background: #e1e1e157;
        font-size: 30px;
        color: #4f4f4fa6;
        user-select: none;
        width: max-content;
    }
}
