<div #field class="field" [@bubble]="(list$ | async)?.length">
    <app-bubble
        *ngFor="let item of list$ | async; let i = index"
        [ordinal]="item.ordinal"
        [initX]="item.initX"
        [initY]="item.initY"
        (clicked)="clickedBubble(item.ordinal)"></app-bubble>
    <div class="complete" *ngIf="success$ | async" [@emersion]>Success</div>
</div>
