:host {
    position: relative;
    max-width: 100%;
    flex: 1;
    max-height: 25vh;
    .persone {
        width: max-content;
        padding: 0 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.2s;
        color: white;
        font-size: 3vw;
        max-width: 100%;
        max-height: 100%;
        &:hover {
            box-shadow: inset 0px 0px 6px 0px #00fffa;
            background: #add8e68a;
        }
        img {
            max-width: 100%;
            position: relative;
            max-height: 20vh;
        }
    }
}
