<div class="persone" (click)="$event.stopPropagation(); clickPersone.emit()">
    <!-- {{ type }} -->
    <ng-container [ngSwitch]="type">
        <ng-container *ngSwitchCase="CrossingPersoneType.DRIVER">
            <img src="/assets/images/crossing/driver.png" alt="DRIVER" />
        </ng-container>
        <ng-container *ngSwitchCase="CrossingPersoneType.WOLF">
            <img src="/assets/images/crossing/wolf.png" alt="WOLF"
        /></ng-container>
        <ng-container *ngSwitchCase="CrossingPersoneType.GOAT">
            <img src="/assets/images/crossing/goat.png" alt="GOAT"
        /></ng-container>
        <ng-container *ngSwitchCase="CrossingPersoneType.CABBAGE">
            <img src="/assets/images/crossing/gabbage.png" alt="CABBAGE"
        /></ng-container>
        <ng-container *ngSwitchDefault>{{ type }}</ng-container>
    </ng-container>
</div>
