<div class="circle" (click)="nextStep()">
    <div
        class="pie"
        *ngFor="let item of arraySegments; let idx = index"
        [style.transform]="'rotate(' + ((360 / this.segments) * idx + 360 / this.segments / 2) + 'deg)'">
        {{ item }}
    </div>
    <div class="carpet" [@rotate]="stepAnimation">
        <div
            class="pie"
            *ngFor="let item of closeSegments; let idx = index"
            [style.transform]="'rotate(' + (360 / this.segments) * idx + 'deg)'"
            [ngClass]="{ close: item }"></div>
    </div>
    <div class="center" (click)="$event.stopPropagation(); reset()" title="Reset">
        <i nz-icon nzType="undo" nzTheme="outline"></i>
    </div>
</div>
