:host {
    user-select: none;

    .circle {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: #5454549c;
        color: white;
        overflow: hidden;
        cursor: pointer;
        box-shadow: 0 0 6px 6px #7373ff;
        font-size: 1.6rem;

        .pie {
            position: absolute;
            width: calc(100% / 2);
            height: 100%;
            overflow: hidden;
            left: calc(100% / 2);
            transform-origin: left center;
            border-left: 2px solid black;
            padding-top: 0.8em;
            padding-left: 0.5em;
            &:before {
                content: '';
                position: absolute;
                width: 100px;
                height: 200px;
                left: -100px;
                border-radius: 100px 0 0 100px;
                transform-origin: right center;
            }
            &.close {
                border-left-width: 3em;
                border-left-color: #242424;
                z-index: 20;
            }
            &:not(.close) {
                box-shadow: 0 0 10px 2px #fbfbfb;
                border-left: none !important;
            }
        }
        .carpet {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 10;
            overflow: hidden;
        }
        .center {
            width: 10%;
            height: 10%;
            background-color: gray;
            border-radius: 50%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 20;
            box-shadow: 0 0 5px 2px #557bc4;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.1em;
            color: #cccccc;
            cursor: pointer;
            transition: 0.2s;
            &:hover {
                box-shadow: 0 0 9px 0px #dbe8ff;
                transform: translate(-50%, -50%) rotate(-45deg);
                color: #e1e1e1;
            }
        }
    }
}
