<div class="field">
    <svg #svg width="500" height="500" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg">
        @for (line of lines; track rowIndex; let rowIndex = $index) {
            <line
                [attr.x1]="line[0].x * 100 + 50"
                [attr.y1]="line[0].y * 100 + 50"
                [attr.x2]="line[1].x * 100 + 50"
                [attr.y2]="line[1].y * 100 + 50"
                [attr.stroke]="
                    map.get(line[0].y + '-' + line[0].x + ':' + line[1].y + '-' + line[1].x) === true
                        ? '#ff6d98'
                        : 'black'
                "
                stroke-width="4" />
        }
        @if (prevCoords() && mouseCoords()) {
            <line
                [attr.x1]="prevCoords()!.x * 100 + 50"
                [attr.y1]="prevCoords()!.y * 100 + 50"
                [attr.x2]="mouseCoords()?.x"
                [attr.y2]="mouseCoords()?.y"
                stroke="#ff6d98"
                stroke-width="4" />
        }
        @for (i of matrix; track rowIndex; let rowIndex = $index) {
            @for (j of matrix[rowIndex]; track colIndex; let colIndex = $index) {
                @if (j) {
                    <circle
                        [attr.data-x]="colIndex"
                        [attr.data-y]="rowIndex"
                        [attr.cx]="colIndex * 100 + 50"
                        [attr.cy]="rowIndex * 100 + 50"
                        r="6"
                        fill="black"
                        strokewidth="3"></circle>
                }
            }
        }
    </svg>
</div>
