:host {
    position: absolute;
    width: 100%;
    height: 100%;
}
.main {
    display: flex;
    flex-wrap: wrap;
    align-items: inherit;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.main_icon_container {
    width: 18vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    text-shadow: 0 0 1em transparentize(#000, 0.5);
    background: transparentize(#fff, 0.8);
    backdrop-filter: blur(0px);
    transform: perspective(500px);
    transform-style: preserve-3d;
    margin: 10px;
}

.main_icon_container:hover {
    transform: scale(0.95);
}

.main_icon {
    font-size: 10vw;
    transition: all 0.5s ease-in-out;
    transform: rotateY(90deg);
}

.main_icon_open {
    transform: rotateY(0deg);
}
.completed {
    box-shadow: 0 0 3px 1px #7d7d7d;
    padding: 0 20px;
    background: #e1e1e157;
    font-size: 30px;
    color: #505050;
    user-select: none;
    position: absolute;
    width: max-content;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
