<div class="main" *ngIf="game">
    <div *ngFor="let item of mas" class="main_icon_container" (click)="showimg(item)">
        <i
            nz-icon
            [nzType]="item.icon"
            nzTheme="twotone"
            class="main_icon"
            [ngClass]="{ main_icon_open: item.show }"></i>
    </div>
</div>

<div class="completed" *ngIf="!game">Success</div>
