:host {
    overflow: hidden;
    padding: 0 5px;
    .tower {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        .area-ring {
            position: absolute;
            width: 100%;
            height: 100%;
            bottom: 0;
            left: 0;
        }
        .stick {
            height: 100%;
            width: 20px;
            background-color: #995d00;
            border: 2px solid black;
            border-bottom: none;
            border-radius: 10px 10px 0 0;
        }
        .base {
            height: 20px;
            width: 100%;
            background-color: #995d00;
            border: 2px solid black;
        }
    }
}
