.list {
    overflow: auto;
    padding: 5px;
    height: 500px;
    max-height: calc(100vh - 50px);
    .item {
        padding: 5px 10px;
        cursor: pointer;
        box-shadow: inset 0px 0px 2px 0px black;
        font-size: 16px;
        border-radius: 10px;
        & + .item {
            margin-top: 5px;
        }
        i {
            & + span {
                margin-left: 10px;
                color: #5c5c5c;
                font-weight: 500;
                transition: 0.1s;
            }
        }
        &:not(.disabled):hover {
            i {
                & + span {
                    color: #0076ffd4;
                }
            }
        }
        &.disabled {
            background-color: gray;
            cursor: no-drop;
        }

        &.selected {
            box-shadow: inset 0px 0px 20px 4px #ffffff00;
            i {
                color: #00f6ff;
                & + span {
                    color: #99fbffb3;
                }
            }
        }
    }
}
