<nz-modal
    nzCentered
    [nzWidth]="300"
    [nzVisible]="isVisible$ | async"
    [nzFooter]="null"
    [nzClosable]="false"
    [nzBodyStyle]="{ padding: '10px' }"
    (nzOnCancel)="hide()">
    <ng-template [nzModalContent]>
        <div class="list">
            <div
                class="item"
                *ngFor="let item of pages"
                [title]="item.name"
                [ngClass]="{ selected: item.selected, disabled: item.disabled }"
                (click)="openPage(item)">
                <i nz-icon [nzType]="item.icon" nzTheme="outline"></i>
                <span>{{ item.name }}</span>
            </div>
        </div>
    </ng-template>
</nz-modal>
