<app-crossing-scene
    [dirBoat]="dirBoat"
    (endPathBoat)="endPathBoat()"
    (clickDirection)="clickDirection($event)"
    *ngIf="!(isComplete$ | async)"
    [@emersion]>
    <ng-container ngProjectAs="left">
        <ng-container
            *ngTemplateOutlet="
                listPersone;
                context: { $implicit: left$ | async, direction: CrossingDirection.LEFT }
            "></ng-container>
    </ng-container>
    <ng-container ngProjectAs="boat">
        <ng-container
            *ngTemplateOutlet="
                listPersone;
                context: { $implicit: boat$ | async, direction: CrossingDirection.BOAT }
            "></ng-container
    ></ng-container>
    <ng-container ngProjectAs="right">
        <ng-container
            *ngTemplateOutlet="
                listPersone;
                context: { $implicit: right$ | async, direction: CrossingDirection.RIGHT }
            "></ng-container
    ></ng-container>
</app-crossing-scene>

<ng-template #listPersone let-list let-direction="direction">
    <ng-container *ngFor="let item of list">
        <app-crossing-persone
            [type]="item.type"
            (clickPersone)="clickPersone(item, direction)"
            [@emersion]></app-crossing-persone>
    </ng-container>
</ng-template>

<div class="complete" *ngIf="isComplete$ | async" [@emersion]>Success</div>
