<div class="wrap">
    <div class="scene" *ngIf="(showSuccess | async) === false" [@emersion]>
        <app-cycle-number-circle></app-cycle-number-circle>
        <div class="desc">
            <div class="numbers">
                <div class="number" *ngFor="let item of settings.rotateNumber">{{ item }}</div>
            </div>
            <div class="orders">
                <div class="order" *ngFor="let item of settings.rotateBoolean">
                    <i nz-icon [nzType]="item ? 'arrow-up' : 'arrow-down'" nzTheme="outline"></i>
                </div>
            </div>
        </div>
        <div class="inputs">
            <nz-input-number
                *ngFor="let modelNum of settings.models"
                [(ngModel)]="modelNum.value"
                [nzMin]="1"
                [nzMax]="9"
                [nzStep]="1"
                (ngModelChange)="modelChange()">
            </nz-input-number>
        </div>
    </div>

    <div class="complete" *ngIf="showSuccess | async" [@emersion]>Success</div>
</div>
