.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    .scene {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
        app-cycle-number-circle {
            width: 300px;
            height: 300px;
            position: relative;
            display: block;
        }
        .desc {
            padding: 10px;
            font-size: 3em;
            user-select: none;
            .numbers {
                display: flex;
                align-items: center;
                flex-direction: row;
                border-bottom: 2px solid;
                .number {
                    flex: 1;
                    text-align: center;
                    & + .number {
                        border-left: 2px solid;
                    }
                }
            }
            .orders {
                display: flex;
                align-items: center;
                flex-direction: row;
                .order {
                    flex: 1;
                    text-align: center;
                    & + .order {
                        border-left: 2px solid;
                    }
                }
            }
        }
        .inputs {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            font-size: 2em;
            ::ng-deep nz-input-number {
                width: 60px !important;
                font-size: 1.3em !important;
            }
        }
    }

    .complete {
        box-shadow: 0 0 3px 1px #7d7d7d;
        padding: 0 20px;
        background: #e1e1e157;
        font-size: 30px;
        color: #4f4f4fa6;
        user-select: none;
        width: max-content;
    }
}
