$border-color: rgba(118, 131, 220, 0.8);
$active-color: rgba(242, 202, 255, 0.8);
$highlight-row-color: rgba(200, 230, 200, 0.8);
$highlight-col-color: rgba(200, 230, 200, 0.8);
$highlight-section-color: rgba(200, 230, 200, 0.8);
$highlight-same-color: rgba(255, 237, 201, 0.9);
$text-color: rgba(60, 20, 190, 0.8);
$text-color-readonly: rgba(0, 0, 0, 0.8);
$cell-background: rgba(255, 245, 245, 0.8);

:host {
    background: $border-color;
    border: 1px solid $border-color;
    display: grid;
    grid-template-columns: repeat(9, 2fr);
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    color: $text-color;
    font-family: Courier, "Courier New", monospace;
    font-weight: bolder;
    width: 500px;

    .note-area {
        position: absolute;
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: repeat(3, 1fr);

        .note {
            position: relative;
            height: 1.5em;
            font-size: 0.85em;
            font-weight: bolder;
            padding: 0 2px;
            display: flex;
            line-height: normal;
            justify-content: center;
            align-items: center;

            &.highlight-same {
                background: $highlight-same-color;
            }
        }
    }

    .cell {
        background: $cell-background;
        cursor: pointer;
        position: relative;
        text-shadow: none;

        &.readonly {
            color: $text-color-readonly;
        }

        &.highlight-row {
            background: $highlight-row-color;
        }

        &.highlight-col {
            background: $highlight-col-color;
        }

        &.highlight-section {
            background: $highlight-section-color;
        }

        &.highlight-same {
            background: $highlight-same-color;
        }

        &.active {
            background: $active-color;
        }

        &:after {
            content: '';
            display: block;
            padding-top: 100%;
            width: 100%;
        }

        &.top {
            border-top: 1px solid $border-color;
        }

        &.bottom {
            border-bottom: 1px solid $border-color;
        }

        &.left {
            border-left: 1px solid $border-color;
        }

        &.right {
            border-right: 1px solid $border-color;
        }

        .value {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            font-size: 2em;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
