<ng-container *ngFor='let row of sudoku; index as rowIndex'>
    <div class='cell'
         *ngFor='let field of row; index as colIndex'
         [class.top]='rowIndex % 3 === 0'
         [class.bottom]='rowIndex % 3 === 2'
         [class.left]='colIndex % 3 === 0'
         [class.right]='colIndex % 3 === 2'
         [class.readonly]='field.readonly'
         [class.highlight-row]='rowIndex === currentCoordinates.row'
         [class.highlight-col]='colIndex === currentCoordinates.col'
         [class.highlight-section]='currentCoordinates.col + currentCoordinates.row !== -2
             && ((colIndex - colIndex % 3) / 3) === ((currentCoordinates.col - currentCoordinates.col % 3) / 3)
             && ((rowIndex - rowIndex % 3) / 3) === ((currentCoordinates.row - (currentCoordinates.row % 3)) / 3)'
         [class.highlight-same]='activeField?.value && activeField?.value === field?.value'
         [class.active]='field === activeField'
         [class.mistake]='field.isMistake'
         (click)='onFieldClick(field)'>
        <div class='value'>{{ field.value }}</div>
        <ng-container *ngIf='!field.value && field.notes.length > 0'>
            <div class='note-area'>
                <div class='note'
                     *ngFor='let note of possibleAnswers'
                     [class.highlight-same]='note === activeField?.value && field.notes.includes(note)'>
                    {{ field.notes.includes(note) ? note : '' }}
                </div>
            </div>
        </ng-container>
    </div>
</ng-container>
