<div class="field">
    <div class="expected" *ngIf="!(isComplete$ | async)" [@emersion]>{{ expectedNumber || '...' }}</div>

    <div class="content" *ngIf="!(isComplete$ | async)" [@emersion]>
        <div class="back" *ngIf="isAccessBack$ | async" (click)="back()" [@emersion]>
            <i nz-icon nzType="arrow-up" nzTheme="outline"></i>
        </div>
        <div class="actions">
            <div
                class="leaf"
                *ngFor="let item of leafs$ | async"
                (click)="clickLeaf(item)"
                [attr.disabled]="!item || (!item?.left && !item.right && item.value !== expectedNumber)"
                [@leaf]>
                {{ item?.value }}
            </div>
        </div>
    </div>

    <div class="complete" *ngIf="isComplete$ | async" [@emersion]>Success</div>
</div>
