:host {
    .field {
        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .expected {
            color: #494949bd;
            box-shadow: 0 0 5px 2px #0000006e !important;
            cursor: default !important;
        }
        .content {
            width: 200px;
            text-align: center;
            box-shadow: 0 0 5px 0px #ffffffba;
            padding: 0px 30px;
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: hidden;

            .back {
                margin-top: 10px;
                &:hover {
                    box-shadow: 0 0 5px 4px #ffffffba;
                }
            }
            .actions {
                display: flex;
                justify-content: center;
                flex-direction: row;
                width: 100%;
                padding: 10px;
                .leaf {
                    &[disabled='true'] {
                        background: #77777782;
                        cursor: default;
                    }

                    &:not([disabled='true']):hover {
                        box-shadow: 0 0 5px 4px #ffffffba;
                    }
                    & + .leaf {
                        margin-left: 20px;
                    }
                }
            }
        }

        .expected,
        .content .actions .leaf,
        .content .back {
            border-radius: 50%;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #d9d9d987;
            box-shadow: 0 0 5px 2px #ffffffba;
            transition: 0.2s;
            cursor: pointer;
            color: #494949bd;
            min-width: 50px;
            font-family: serif;
            font-size: 24px;
        }

        .complete {
            box-shadow: 0 0 3px 1px #7d7d7d;
            padding: 0 20px;
            background: #e1e1e157;
            font-size: 30px;
            color: #4f4f4fa6;
            user-select: none;
            width: max-content;
        }
    }
}
