<div class="field">
    <div class="content" *ngIf="!(isComplete$ | async)" [@emersion]>
        <ng-container *ngFor="let tower of towers$ | async; let idxTower = index">
            <app-hanoi-tower>
                <div
                    class="list-rings"
                    cdkDropList
                    [id]="(idTowers$ | async)?.[idxTower] ?? ''"
                    [cdkDropListData]="tower.val"
                    [cdkDropListSortingDisabled]="true"
                    (cdkDropListDropped)="dropped($event)"
                    [cdkDropListConnectedTo]="(idTowers$ | async) ?? []">
                    <ng-container *ngFor="let ring of tower.val; let idxRing = index">
                        <app-hanoi-ring
                            [size]="ring"
                            cdkDrag
                            [cdkDragDisabled]="idxRing !== 0"
                            [cdkDragData]="ring"></app-hanoi-ring>
                    </ng-container>
                </div>
            </app-hanoi-tower>
        </ng-container>
    </div>

    <div class="complete" *ngIf="isComplete$ | async" [@emersion]>Success</div>
</div>
