:host {
    .field {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 40px 10px;
        .content {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            app-hanoi-tower {
                flex: 1;
                height: 100%;
                ::ng-deep {
                    app-hanoi-ring {
                        & + app-hanoi-ring {
                            margin-top: 1%;
                        }
                    }
                    .list-rings {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        bottom: 0;
                        left: 0;
                        padding-bottom: 30px;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        flex-direction: column;
                    }
                }
            }
        }
    }

    .complete {
        box-shadow: 0 0 3px 1px #7d7d7d;
        padding: 0 20px;
        background: #e1e1e157;
        font-size: 30px;
        color: #4f4f4fa6;
        user-select: none;
        width: max-content;
    }
}
