:host {
    width: 100%;
    height: 100%;
    position: absolute;
    .content {
        width: 100%;
        height: 100%;
        position: absolute;

        .timer {
            box-shadow: 0 0 3px 1px #7d7d7d;
            padding: 0 20px;
            background: #e1e1e157;
            font-size: 30px;
            color: #505050;
            user-select: none;
            position: absolute;
            width: max-content;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
