<nz-modal
    nzCentered
    [nzVisible]="isVisible$ | async"
    (nzOnCancel)="hide()"
    [nzFooter]="null"
    [nzWidth]="300"
    [nzClosable]="false"
    [nzBodyStyle]="{ padding: '0' }">
    <ng-container *nzModalContent>
        <input nz-input [ngModel]="word$ | async" [disabled]="true" />
    </ng-container>
</nz-modal>
