<div class="scene">
    @if (!end) {
        <app-point-field [lines]="lines" (success)="success()" [@emersion] (@emersion.done)="$event.toState === 'void' && done.set(true)" />
    }
    @if (end && done()) {
        <div class="completed" [@emersion]>Success</div>
    }
</div>
