<div class="scene">
    <div class="layers">
        <div class="layer word">{{ word }}</div>
        <div class="layer green" [style.background]="'rgba(0, ' + controlGreen + ', 0, 20%)'"></div>
        <div class="layer red" [style.background]="'rgba(' + controlRed + ', 0, 0, 20%)'"></div>
        <div class="layer blue" [style.background]="'rgba(0, 0, ' + controlBlue + ', 20%)'"></div>
    </div>

    <div class="controls">
        <div class="control">
            <nz-slider nzTooltipVisible="default" [nzMin]="0" [nzMax]="255" [(ngModel)]="controlGreen"></nz-slider>
        </div>
        <div class="control">
            <nz-slider nzTooltipVisible="default" [nzMin]="0" [nzMax]="255" [(ngModel)]="controlRed"></nz-slider>
        </div>
        <div class="control">
            <nz-slider nzTooltipVisible="default" [nzMin]="0" [nzMax]="255" [(ngModel)]="controlBlue"></nz-slider>
        </div>
    </div>
</div>
