:host {
    .scene {
        width: 100%;
        height: 100%;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        .layers {
            position: relative;
            width: 100%;
            height: 50%;
            box-shadow: 0 0 2px 1px #656565;
            background: #5c5c5cad;
            overflow: hidden;
            .layer {
                position: absolute;
                width: 100%;
                height: 100%;
                &.green {
                    background-color: green;
                }
                &.red {
                    background-color: red;
                }
                &.blue {
                    background-color: blue;
                }
                &.word {
                    font-size: 10vw;
                    letter-spacing: 1em;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #43426f29;
                    z-index: 3;
                    user-select: none;
                }
            }
        }
        .controls {
            box-shadow: 0 0 2px 1px #656565;
            background: #0000001a;
            padding: 5px 20px;
            margin-top: 40px;
            .control {
                & + .control {
                    margin-top: 40px;
                }
            }
        }
    }
}
