$helper-text-color: rgba(60, 20, 75, 0.8);
$green-color: rgba(10, 110, 10, 0.8);
$red-color: rgba(155, 10, 10, 0.8);
$box-shadow: rgba(125, 125, 125, 0.9);
$background-color: rgba(225, 225, 225, 0.34);
$mistake-text-color: rgba(209, 209, 209, 0.8);
$highlight-same-color: rgba(255, 237, 201, 0.9);

:host {

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Courier, "Courier New", monospace;
    color: $helper-text-color;
    text-shadow: 0 0 10px $helper-text-color;

    ::ng-deep {
        .ant-spin-dot-item {
            background: $helper-text-color;
            border-radius: 20%;
        }

        .cell {
            &.mistake {
                background-color: $red-color !important;
                color: $mistake-text-color !important;
            }
        }
    }

    .lives-container {
        font-size: 1.7em;
        color: $red-color;
        display: flex;
        margin-bottom: 0.2em;

        .live {
            margin-right: 0.35em;
        }
    }

    .sudoku-loader {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2em;
    }

    .sudoku-helper {
        font-weight: bolder;
        font-size: 1.75em;
    }

    .sudoku-difficult {
        .sudoku-difficult-button-group {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 2em;

            .sudoku-difficult-button {
                align-items: center;
                justify-content: center;
                display: flex;
                width: 10em;
                font-size: 1.15em;
                box-shadow: 0 0 3px 1px $box-shadow;
                background-color: $background-color;
                padding: 0 1em;
                margin-bottom: 0.4em;
                user-select: none;
                border-radius: 10px;
            }

            .sudoku-difficult-button:hover {
                cursor: pointer;
                background-color: rgba(175, 175, 175, 0.1);
            }

            .sudoku-difficult-button:active {
                cursor: pointer;
                background-color: rgba(175, 175, 175, 0.2);
                box-shadow: 0 0 3px 1px rgba(125, 125, 125, 0.5);
            }
        }
    }

    .note-mode {
        display: flex;
        font-weight: bolder;
        font-size: 1.5em;
        width: 500px;
        justify-content: center;
        align-items: center;

        .note-mode-on {
            color: $green-color;
            text-shadow: 0 0 10px $green-color;
        }

        .note-mode-off {
            color: $red-color;
            text-shadow: 0 0 10px $red-color;
        }
    }

    .note-mode-helper {
        font-size: 1.15em;
    }

    .free-numbers {
        cursor: pointer;
        margin-top: 2em;
        display: flex;
        justify-content: center;
        align-items: center;

        .free-number {
            display: flex;
            width: 2em;
            height: 2em;
            font-size: 1.35em;
            font-weight: bold;
            margin: 0 0.2em;
            box-shadow: 0 0 3px 1px $box-shadow;
            border-radius: 0.2em;
            background-color: $background-color;
            align-items: center;
            justify-content: center;

            &.free-out {
                background-color: transparent;
                //cursor: default;
            }

            &.selected {
                background-color: $highlight-same-color;
            }

            &.has-error {
                background-color: $red-color;
                color: $mistake-text-color;
            }
        }

        .left-free-count {
            display: flex;
            position: relative;
            font-size: 0.75em;
            font-weight: normal;
            text-shadow: none;
            align-items: flex-end;
            justify-content: flex-end;
            margin: -1.3em 0.7em;

            &.has-error {
                color: $mistake-text-color;
            }
        }
    }

    .complete-container {
        .complete {
            box-shadow: 0 0 3px 1px $box-shadow;
            padding: 0 20px;
            background: $background-color;
            font-size: 30px;
            user-select: none;
            width: max-content;
            border-radius: 10px;
        }
    }

    .game-over-container {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(0.25em);

        .game-over {
            position: fixed;
            box-shadow: 0 0 3px 1px $box-shadow;
            padding: 0 20px;
            background: $background-color;
            font-size: 30px;
            user-select: none;
            width: max-content;
            border-radius: 10px;
        }
    }
}
