<div class='sudoku-difficult' *ngIf='sudoku === undefined && !sudokuGeneration'>
    <div class='sudoku-helper'>Please select a Sudoku difficulty</div>
    <div class='sudoku-difficult-button-group'>
        <div class='sudoku-difficult-button' (click)='generateSudoku(EASY_DIFFICULT)'>Easy</div>
        <div class='sudoku-difficult-button' (click)='generateSudoku(MEDIUM_DIFFICULT)'>Medium</div>
        <div class='sudoku-difficult-button' (click)='generateSudoku(HARD_DIFFICULT)'>Hard</div>
        <div class='sudoku-difficult-button' (click)='generateSudoku(EXPERT_DIFFICULT)'>Expert</div>
    </div>
</div>

<div class='sudoku-difficult' *ngIf='sudoku === undefined && sudokuGeneration'>
    <div class='sudoku-helper'>Please wait while generating sudoku</div>
    <nz-spin class='sudoku-loader' nzSimple nzSize='large'></nz-spin>
</div>

<div *ngIf='sudoku !== undefined && !(isComplete$ | async)'>
    <div class='lives-container'>
        <div class='live' *ngFor='let live of lives'>
            <i nz-icon nzType='heart'
               [nzTheme]='live.isAlive ? "fill" : "outline"'></i>
        </div>
    </div>
    <sudoku-grid
        [sudoku]='sudoku'
        [(activeField)]='activeField'
        [currentCoordinates]='currentCoordinates'>
    </sudoku-grid>
    <div class='note-mode'>Note mode&nbsp;
        <div [class.note-mode-off]='!noteMode' [class.note-mode-on]='noteMode'>{{ noteMode ? 'ON' : 'OFF' }}</div>
    </div>
    <div class='note-mode note-mode-helper'>(Use SPACE button to switch)</div>
    <div class='free-numbers'>
        <div *ngFor='let freeNumber of leftFreeNumbers'>
            <div class='free-number'
                 [class.free-out]='freeNumber.leftFreeCount === 0'
                 [class.has-error]='freeNumber.leftFreeCount < 0'
                 [class.selected]='freeNumber.number === activeField?.value'
                 (click)='selectValue(freeNumber.number)'>
                {{ freeNumber.number }}
            </div>
            <div class='left-free-count'
                 [class.has-error]='freeNumber.leftFreeCount < 0'
                 (click)='selectValue(freeNumber.number)'>
                {{ freeNumber.leftFreeCount }}
            </div>
        </div>
    </div>
</div>
<div class='complete-container' *ngIf='isComplete$ | async'>
    <div class='complete'>
        success
    </div>
</div>

<div class='game-over-container' *ngIf='isLose$ | async'>
    <div class='game-over'>
        GAME OVER!
    </div>
</div>
