<div class="wrapper">
    <div class="content" [@triggerName]="prepareRoute(outlet)">
        <router-outlet #outlet="outlet"></router-outlet>
    </div>
    <div class="common">
        <button nz-button nzType="primary" title="Select page" (click)="page.show()">
            <i nz-icon nzType="setting"></i>
            <span>Select page</span>
        </button>
    </div>
</div>

<app-select-page #page [pages]="(listPages$ | async) ?? []" (selectPage)="selectPage($event)"></app-select-page>
