.wrapper {
    background: linear-gradient(
        -45deg,
        rgba(184, 46, 46, 1) 0%,
        rgba(148, 85, 39, 1) 5%,
        rgba(124, 96, 9, 1) 10%,
        rgba(125, 128, 9, 1) 15%,
        rgba(106, 134, 9, 1) 20%,
        rgba(45, 134, 9, 1) 25%,
        rgba(9, 134, 11, 1) 30%,
        rgba(9, 134, 57, 1) 35%,
        rgba(9, 134, 91, 1) 40%,
        rgba(5, 181, 149, 1) 45%,
        rgba(5, 177, 181, 1) 50%,
        rgba(5, 147, 181, 1) 55%,
        rgba(5, 106, 181, 1) 60%,
        rgba(5, 88, 181, 1) 65%,
        rgba(5, 73, 181, 1) 70%,
        rgba(5, 44, 181, 1) 75%,
        rgba(19, 5, 181, 1) 80%,
        rgba(84, 5, 181, 1) 85%,
        rgba(147, 5, 181, 1) 90%,
        rgba(181, 5, 130, 1) 95%,
        rgba(181, 5, 5, 1) 100%
    );
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    .content {
        background-color: #ffffff85;
        height: calc(100% - 20px);
        width: calc(100% - 20px);
        box-shadow: 0 0 4px 2px white;
        position: relative;
        overflow: hidden;
    }
    .common {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 3;
        button {
            padding: 0 10px;
            span {
                font-size: 0;
                margin: 0 !important;
                transition: 0.2s;
            }
            &:hover {
                span {
                    font-size: 14px;
                    margin-left: 8px !important;
                }
            }
        }
    }
}

.page-list {
    ::ng-deep {
        li {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            i + span {
                margin-left: 5px;
            }
        }
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
