:host {
    position: absolute;
    z-index: 2;
    .figure {
        width: 150px;
        height: 150px;
        background: #c6d7ee;
        box-shadow: 0 0 1px 0px black;
        cursor: pointer;
        position: absolute;
        background-image: url('/assets/images/arrow-x.png');
        background-size: contain;
        &.y {
            background-image: url('/assets/images/arrow-y.png');
        }
        &.cdk-drag-dragging {
            box-shadow: inset 0px 0px 2px 2px black;
        }
        &.circle {
            border-radius: 50%;
        }
    }
}
