:host {
    .cube {
        width: calc(min(30vh, 30vw) - 20px);
        height: calc(min(30vh, 30vw) - 20px);
        background: #9f9f9f80;
        display: block;
        border: 1px solid #3f3f3f3b;
        border-radius: 5%;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        box-shadow: inset 0 0 2px 2px #797979;
        .leaf {
            position: absolute;
            width: 40%;
            height: 40%;
            border-radius: 50%;
            box-shadow: inset 0 0 2px 1px #0000008a;
            transition: 0.3s;
            background-color: #00000024;
            &.top {
                top: 5%;
                left: 50%;
                transform: translate(-50%);
            }
            &.bottom {
                bottom: 5%;
                &.left {
                    left: 5%;
                }
                &.right {
                    right: 5%;
                }
            }
            &.fill {
                background-color: #ff000061;
                box-shadow: inset 0px 0px 2px 2px #ffffff75;
            }
        }
    }
}
