<div class="cube">
    <div class="leaf top" [ngClass]="{ fill: leafCounter === 3 }"></div>

    <div class="leaf bottom left" [ngClass]="{ fill: leafCounter >= 2 }"></div>

    <div class="leaf bottom right" [ngClass]="{ fill: leafCounter >= 1 }"></div>
</div>
