<div class="wrap">
    <div class="main" *ngIf="game" [@emersion]>
        <ng-container *ngFor="let item of list">
            <div
                class="main_icon_container"
                (click)="move(item)"
                [@shift]="item.pos?.str"
                [style.width.%]="100 / size"
                [style.height.%]="100 / size"
                (@shift.start)="startAnimation()"
                (@shift.done)="endAnimation()">
                {{ item.value }}
            </div>
        </ng-container>
    </div>

    <div class="completed" *ngIf="!game" [@emersion]>Success</div>
</div>
