:host {
    position: absolute;
    width: 100%;
    height: 100%;
}

.main {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    justify-content: center;
    position: relative;
}

.main_icon_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid;
    cursor: pointer;
    overflow: hidden;
    text-shadow: 0 0 1em transparentize(#000, 0.5);
    background: transparentize(#fff, 0.8);
    font-size: 2em;
    height: 25%;
    width: 25%;
    position: absolute;
    left: -100%;
    top: -100%;
}

.main_icon_container:hover {
    // transform: scale(0.95);
    opacity: 0.5;
}

.empty {
    transform: rotateY(90deg);
}

.completed {
    box-shadow: 0 0 3px 1px #7d7d7d;
    padding: 0 20px;
    background: #e1e1e157;
    font-size: 30px;
    color: #4f4f4fa6;
    user-select: none;
    width: max-content;
}

.wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    padding: 10px;
}
