:host {
    height: 7%;
    border-radius: 10px;
    border: 1px solid black;
    width: 100%;
    background-color: red;
    cursor: pointer;
    box-shadow: 0 0 3px 1px black;
    transition: 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    span {
        padding: 0 10px;
        background: #48484885;
        border-radius: 3px;
        color: #f2f2f2;
    }
    &:hover {
        box-shadow: 0 0 5px 3px #00ffc4;
    }
    &.s-1 {
        width: 98%;
        background-color: red;
    }
    &.s-2 {
        width: 88%;
        background-color: yellow;
    }
    &.s-3 {
        width: 78%;
        background-color: green;
    }
    &.s-4 {
        width: 68%;
        background-color: lightblue;
    }
    &.s-5 {
        width: 58%;
        background-color: blue;
    }
    &.s-6 {
        width: 48%;
        background-color: pink;
    }
    &.s-7 {
        width: 38%;
        background-color: lightcoral;
    }
}
